.DS_Store
**/.DS_Store
.Rhistory
**/.Rhistory

data/raw-data/building_violations_raw.csv

data/derived-data/building_violation_by_code.csv

code/preprocessing_standard.py
code/preprocessing_economic_pressure.py
code/preprocessing_housing_structural_features.py
code/preprocessing_weiyi.py